<!DOCTYPE html>
<html lang="en">
<head>
<% include ../templates/head.ejs %>
</head>
<body>
<% include ../templates/header.ejs %>
<div class="container">
        <h1>Detail page</h1>
    <img src="../images/Marlboro_Logo.png" alt="" style='width:150px; display:block; margin:10px; text-align: center;'>
    <hr>
    <h4><%= tobacco_info.brand %> <%= tobacco_info.name %></h4><br>
    <p>가격 : <%= tobacco_info.price %></p>
    <p>니코틴 함량 : <%= tobacco_info.nicotine %></p>
    <p>타르 함량 : <%= tobacco_info.TAR %></p>
    <p>타격감 : <%= tobacco_info.feel_of_hit %></p>
    <p>맨솔 여부 : <%= tobacco_info.is_menthol %></p>
    <br>
    <p>별 점
        <span>★</span>
        <% for(var score_inx = 0; score_inx < tobacco_info.score-1; ++score_inx) {%>    
            <span>★</span>
        <% } %>
    </p>
    <hr>
    <a href="/tobacco/update/<%= tobacco_info.tobacco_id %>">Update</a>
    <form action="/tobacco/delete/<%= tobacco_info.tobacco_id %>" method="POST">
        <button type="submit" class="btn btn-light">Delete</button>
    </form>

    <% if (session.login) {%>
        <% if (is_favorite){ %>
            <form action="/tobacco/detail/<%=tobacco_info.tobacco_id%>/remove_favorite" method="post">
                <button type="submit" class="btn btn-light">remove Favorite</button>
            </form>
        <%} else {%>
            <form action="/tobacco/detail/<%=tobacco_info.tobacco_id%>/add_favorite" method="post">
                <button type="submit" class="btn btn-light">Add Favorite</button>
            </form>
        <%}%>
    <% } %>

    <hr>
    <h2>Review</h2>
    <% reviews.forEach(function(review){ %>
        작성자 : <%= review.writer %> <br>
        타격감 : <%= review.feel_of_hit %> <br>
        평점 : <%= review.score %> <br>
        내용 : <%= review.comment %>
        <hr>
    <% }) %>

    <% if (session.login) {%>
    <details>
        <summary>리뷰 작성</summary>
        <form action="/tobacco/detail/<%=tobacco_info.tobacco_id%>/create_review" method="post">
            <div>
                <label for="writer">작성자</label>
                <span><%= session.username %></span>
            </div>
            <div>
                <label for="feel_of_hit">타격감</label>
                <input type="radio" name="review_feel_of_hit" value='상' />상
                <input type="radio" name="review_feel_of_hit" value='중' />중
                <input type="radio" name="review_feel_of_hit" value='하' />하
            </div>
            <div>
                <label for="score">평점</label>
                <input type="radio" name="review_score" value='1' />1
                <input type="radio" name="review_score" value='2' />2
                <input type="radio" name="review_score" value='3' />3
                <input type="radio" name="review_score" value='4' />4
                <input type="radio" name="review_score" value='5' />5
            </div>
            <div>
                <label for="comment">내용</label>
                <input type="text"  name="review_comment" value="" required='required'>
            </div>    
            
            <button type="submit">등록</button>
        </form>
    </details>
    <% } %>
    <hr>
</div>
</body>
</html>