<!DOCTYPE html>
<html lang="en">
<head>
<% include ../templates/head.ejs %>
<script>
    function removeAlert() {
        alert("정상적으로 삭제되었습니다!");
}
</script>

</head>
<body>
<% include ../templates/header.ejs %>
<div class="container">
    <img src="/images/<%= tobacco_info.brand %>.png" alt="" style='width:150px; height: 150px; display:block; margin:10px; text-align: center;'>
    <table>
        <br>
        <h4><%= tobacco_info.brand %> <%= tobacco_info.name %></h4>
        <tr>
            <td>가격</td>
            <td><%= tobacco_info.price %></td>
        </tr>
        <tr>
            <td>니코틴 함량</td>
            <td><%= tobacco_info.nicotine %></td>
        </tr>
        <tr>
            <td>타르 함량</td>
            <td><%= tobacco_info.TAR %></td>
        </tr>
        <tr>
            <td>타격감</td>
            <td><%= tobacco_info.feel_of_hit %></td>
        </tr>
        <tr>
            <td>맨솔 유무</td>
            <td><%= tobacco_info.is_menthol %></td>
        </tr>
        <tr>
            <td>Score</td>
            <th>
                <span>★</span>
                <% for(var score_inx = 0; score_inx < tobacco_info.score-1; ++score_inx) {%>    
                    <span>★</span>
                <% } %>
            </th>
        </tr>
    </table>
    <br>
    <% if(session.login) { %>
    <p class="detail_btn">
        <a href="/tobacco/update/<%= tobacco_info.tobacco_id %>" class="btn btn-light" >Update</a>
        <form action="/tobacco/delete/<%= tobacco_info.tobacco_id %>" name="delete_form" method="POST">
            <button type="submit" class="btn btn-light" onclick="removeAlert()">Delete</button>
        </form>
    </p> 
    <hr>   
    <% if (is_favorite){ %>
        <form action="/tobacco/detail/<%=tobacco_info.tobacco_id%>/remove_favorite" method="post">
            <button type="submit" class="btn btn-secondary">remove Favorite</button>
        </form>
    <%} else {%>
        <form action="/tobacco/detail/<%=tobacco_info.tobacco_id%>/add_favorite" method="post">
            <button type="submit" class="btn btn-danger">Add Favorite</button>
        </form>
    <%}%>
    
    <% } %>

    <hr>
    <h4>Review</h4>
    <br>
    <% reviews.forEach(function(review){ %>
        <h6>[ <%= review.writer %> ]</h6>
        <table>
            <tr>
                <td>타격감</td>
                <td><%= review.feel_of_hit %></td>
            </tr>
            <tr>
                <td>평점</td>
                <td>
                    <span>★</span>
                    <% for(var idx = 0; idx < review.score-1; ++idx) {%>    
                        <span>★</span>
                    <% } %>
                </td>
            </tr>
            <tr>
                 <td><%= review.comment %></td>
            </tr>
        </table>
        <hr>
    <% }) %>

    <% if (session.login) {%>
    <details>
        <summary>리뷰 작성</summary>
        <form action="/tobacco/detail/<%=tobacco_info.tobacco_id%>/create_review" method="post">
            <div>
                <label for="writer">작성자</label>
                <span><%= session.username %></span>
            </div>
            <div>
                <label for="feel_of_hit">타격감</label>
                <input type="radio" name="review_feel_of_hit" value='상' />상
                <input type="radio" name="review_feel_of_hit" value='중' />중
                <input type="radio" name="review_feel_of_hit" value='하' />하
            </div>
            <div>
                <label for="score">평점</label>
                <input type="radio" name="review_score" value='1' />1
                <input type="radio" name="review_score" value='2' />2
                <input type="radio" name="review_score" value='3' />3
                <input type="radio" name="review_score" value='4' />4
                <input type="radio" name="review_score" value='5' />5
            </div>
            <div>
                <label for="comment">내용</label>
                <input type="text"  name="review_comment" value="" required='required'>
            </div>    
            
            <button type="submit">등록</button>
        </form>
    </details>
    <% } %>
    <hr>
</div>
</body>
</html>