<!DOCTYPE html>
<html lang="en">
<head>
<% include ../templates/head.ejs %>
</head>
<body>
<% include ../templates/header.ejs %>
<div class="container">
        <h1>Detail page</h1>
    <img src="./images/Marlboro_Logo.png" class="" alt="">
    <hr>
    <h4><%= tobacco_info.brand %> <%= tobacco_info.name %></h4><br>
    <p>가격 : <%= tobacco_info.price %></p>
    <p>니코틴 함량 : <%= tobacco_info.nicotine %></p>
    <p>타르 함량 : <%= tobacco_info.TAR %></p>
    <p>타격감 : <%= tobacco_info.feel_of_hit %></p>
    <p>맨솔 여부 : <%= tobacco_info.is_menthol %></p>
    <br>
    <p>별 점 : <%= tobacco_info.score %></p>
    <hr>
    <a href="/tobacco/update/<%= tobacco_info.tobacco_id %>">Update</a>
    <form action="/tobacco/delete/<%= tobacco_info.tobacco_id %>" method="POST">
        <button type="submit">Delete</button>
    </form>
</div>
</body>
</html>